/* add css module styles here (optional) */

.timelineWrapper {
  display: flex;
  overflow-x: scroll;
  padding-left: 20px;
}

.yearWrapper {
  flex-basis: 270px;
  flex-grow: 0;
  flex-shrink: 0;
}

.yearInnerWrapper {
  position: relative;
}

.yearText {
  font-weight: 500;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.3);
  margin-left: -20px;
}

.yearLine {
  height: 338px;
  width: 1px;
  margin-top: 48px;
  background: rgba(255, 255, 255, 0.3);
}

.timelineItem {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  position: absolute;
  z-index: 1;
  height: 33px;
  border-radius: 4px;
  padding: 3px;
  font-weight: 600;
  font-size: 14px;
}

.timelineItem>div {
  width: 6px;
  height: 100%;
  margin-right: 12px;
  border-radius: 4px;
}